* {
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header.header-top {
    background-color: rgb(28, 61, 133);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    position: relative;
}

header.header-top h1 {
    font-size: 1.8em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header.header-top i {
    text-decoration: none;
    color: white;
}

@media (min-width: 726px) {
    header a:hover {
        padding: 10px;
        background: linear-gradient(135deg, rgb(86, 126, 211) 0%, rgb(28, 61, 133) 100%);
        border-radius: 2px;
    }

}

.header-top a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

button:hover {
    color: lightblue;
}

@media (max-width: 725px) {
    .header-top {
        display: block !important;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 20px !important;
        padding: none !important;
    }
}